/* Reset default margin and padding */
body, h1, p, label, input, a {
    margin: 0;
    padding: 0;
}

/* Set background color and text color */
body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

/* Style the header */
h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
    font-size: 36px;
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style form inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the submit button */
input[type="submit"] {

    padding: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the login link */
p a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #0056b3;
}




.form {
    width: 50%;
    float: left;
    margin-top: 40px;
}
.image {
    width: 50%;
    float: right;
}

.btn-right {
    width: 50%;
    float: right;
}
.btn-left {
    width: 50%;
    float: left;
}

.btn-look {
        width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}